# Source files
*.xml text eol=lf
*.html text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.svg text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.snap text eol=lf
*.cfg text eol=lf

# Misc config files
.gitignore text eol=lf
.prettierrc text eol=lf
.editorconfig text eol=lf
.gitattributes text eol=lf
yarn.lock text eol=lf

# Binary files
*.png binary
*.ico binary
