div#control-panel {
  background-color: rgb(0, 0, 0, 0.1);
}

div#control-panel i.fa {
  color: #e4e5e8;
}

div#control-panel i.fa:hover {
  cursor: pointer;
  color: white;
}

div#control-panel div.dropdown-menu {
  color: white;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 0.1rem;
}

div#control-panel div.dropdown-menu .dropdown-item {
  color: white;
  font-size: 14px;
  width: 250px;
}

div#control-panel div.dropdown-menu .dropdown-item:hover {
  background-color: rgb(0, 0, 0, 0.5);
  cursor: pointer;
}

div#control-panel div.dropdown-menu .dropdown-item:focus {
  background-color: rgb(0, 0, 0, 0.5);
}

div#control-panel div.dropdown-menu#action-menu {
  width: 200px;
}

div#control-panel div.dropdown-menu#action-menu .dropdown-item {
  width: 100%;
}
