div.player-control {
  position: relative;
  width: 100%;
  height: 100%;
}

div.observer-slot {
  border: salmon solid 1px;
  position: absolute;
}

div.observer-slot-right {
  right: 0;
}

div.observer-slot:hover {
  cursor: pointer;
}
