div.player-control {
  position: relative;
  width: 100%;
  height: 100%;
}

div.observer-slot {
  position: absolute;
}

div.observer-slot:hover {
  box-shadow: 0 0 10px #ccc;
}

div.observer-slot-right {
  right: 0;
}

div.observer-slot:hover {
  cursor: pointer;
}
